.MEFmanset{border:1px solid #dcdbdb;width:100%;height:460px;}
.eleman{display:block!important;}
.MEFmanset .manset_resimler img{border:none;text-decoration:none;width:100%;height:460px;}
.MEFmanset .manset_resimler a,.MEFmanset .manset_butonlar a{text-decoration:none;color:#6f6f6f;display:block;font-size:11px; border: 1px solid #ccc;font-family: "Helvetica Neue";font-size: 16px;font-weight: bold}
.MEFmanset .manset_butonlar a{display:block;text-align:center;cursor: pointer}
.MEFmanset .manset_resimler a{padding:0;}
.MEFmanset .manset_resimler,.MEFmanset .manset_butonlar{list-style:none;margin:0;padding:0;}
.MEFmanset .manset_butonlar{border-top:1px solid #ccc;border-bottom:0;height:24px;}
.MEFmanset .manset_resimler li,.MEFmanset .manset_butonlar li{list-style:none;background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e5e5e5+50,d4d4d4+100;manset-renk */
background: rgb(249,249,249); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(237, 237, 237) 50%, rgb(212,212,212) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 50%,rgb(212,212,212) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(235, 235, 235) 50%,rgb(212,212,212) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
;font-size:14px;font-family:oswald,Arial,sans-serif;-webkit-font-smoothing:antialiased;text-align:center;margin:0;padding:0;}
.MEFmanset .manset_resimler{width:100%;height:460px;}
.MEFmanset .manset_resimler li{position:relative;width:100%;height:277px;display:none;}
.MEFmanset .manset_resimler li img{width:100%;height:460px;}
.MEFmanset .manset_butonlar li{float:left;width:40px;line-height:40px;height:41px; background:linear-gradient(tobottom,#efeded0,#fff7f750%,#efeded100%);font-family:oswald,Arial,sans-serif;}
.MEFmanset .manset_butonlar li.tumu{width:47px;height:24px;border-right:none;background-color:#f8f8f8;}
.MEFmanset .manset_butonlar li.tumu a{color:#6F6F6F;}
.MEFmanset .manset_butonlar li.tumu:hover{background:#fd0000!important;}
.MEFmanset .manset_butonlar li.aktifbuton,.MEFmanset .manset_butonlar li:hover{background: #ffffff no-repeat top center;color:#FFF!important;}
.MEFmanset .manset_butonlar li.aktifbuton a,.MEFmanset .manset_butonlar li:hover a{color: #353535;border:1px solid #e2e5e8;border-top:0;}
.MEFmanset span{width:100%;height:38px;background: rgba(0, 0, 0, 0.5);display:block;text-shadow:1px 1px 0 #000;font-size:20px;color: #ebebeb;font-family:oswald,Arial,sans-serif;font-weight:700;overflow:hidden;top:423px;text-align:center;position:absolute;z-index:4;margin:0;padding:5px 0 0;}
.MEFmanset span:hover{color: #fdfdfd;background: rgba(0, 0, 0, 0.5)}
