/*****
Rahman ve Rahim olan Hz. Allah'ın ismi şerifi ile...
Musannıf: A.Samed OCAK
Mevzu: Alî site-i stil-ü Makber
Gaye: Tasavvurat ve tasdikat
Tarif: stül-ü sahih-i Stül-ü fasıktan ayırmak
*******/


@media (max-width: 1270px) {
    #soldasabit{
        display: none;
    }
#sagdasabit{
    display: none;
}
    .belediyeler{
        width: 100%;
    }

}


@media (max-width: 760px) {
    .belediyeler{
        width: 100%;
    }
    .son-yazilar{
        width: 100%;
    }
    .ilce-haber{
        width: 100%;
    }
    .ilce-haber-aciklama{
        width: 100%;
    }

}

@media (max-width: 400px) {
    .belediyeler{
        width: 100%;
    }
    .son-yazilar{
        width: 100%;
    }

    .ilce-haber{
        width: 100%;
    }
    .ilce-haber-aciklama{
        width: 100%;
    }
    .sayfalar{
        display: none;
    }
    .tarih-saat{
        display: none;
    }
    .soc{
        overflow:hidden;
        margin: 2px;
        width: 100%;
        margin-left: -55px;
        margin-top: 14px;
        /* position: absolute; */
        float: left;
        list-style:none;
    }
    .son-yazilar p{
        font-size: 15px;
        margin-left: 3px;
    }
    .yazarlar-kay{
        margin-left: -27px;
        width: 113%;
    }
    .belediye-aciklama{
        display: none;
    }
    .belediye-liste{
        display: none;
    }
    .belediye-liste-arama{
        display: inline-block;
        position: relative;

    }
    .navbar-inverse{
        display: block !important;
    }
    .ust{
        margin-top: -20px;
    }
    .sosyal-medya{
        margin-top: -50px;
    }
    .ust{
        display: none;
    }
    .logo{
        margin-top: -50px;
    }
    .gl-but{
        margin-left: 237px;
        margin-top: -34px;
    }

    #rehber ul li {

        width: 350px;

    }
    #rehber ul li img{

        width: 100%;

    }
    .sidebar{
        display: none;
    }
    .haber-slider-kucuk{
        display: none;
    }
    .resim-sol{
        margin-top:25px;
         text-align: center;
        display: block;
        position: relative;
        width: 100%;
        height: 300px;
        padding-right: 5px;
        padding-left: 15px;
    }
    .MEFmanset{
      width: 100%;
        height: auto !important;
    }
    .MEFmanset .manset_resimler{width:100% !important;height:auto!important;}
    .MEFmanset .manset_resimler img{border:none;text-decoration:none;width:100%!important;height:auto!important;}

    .MEFmanset .manset_resimler li{position:relative;width:100%;height:auto!important;display:none;}
    .MEFmanset .manset_resimler li img{width:100% !important;height:auto!important;}
    #son-dakika{
        width: 100%;
        display: inline-block;
        position: relative;
    }
    #carousel img {
        width: 320px !important;


    }
    .caroufredsel_wrapper{
        width: 215px !important;
        margin-left: 40px !important;
    }

    #carousel3 {
        padding-top: 350px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    #carousel3 div {
        width: 200px;
        height: 380px;
        margin-top: -350px;
        position: relative;
    }

    #carousel3 div span {

        font-size: 13px;
        text-align: center;

    }

    #carousel {
        padding-top: 350px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    #carousel div {
        width: 200px;
        height: 380px;
        margin-top: -350px;
        position: relative;
    }

    #carousel div span {

        font-size: 13px;
        text-align: center;

    }

    #carousel2 {
        padding-top: 350px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    #carousel2 div {
        width: 200px;
        height: 380px;
        margin-top: -350px;
        position: relative;
    }

    #carousel2 div span {

        font-size: 13px;
        text-align: center;

    }

    .MEFmanset .manset_butonlar li{float:left;width: 10%;
        line-height: 26px;
        height: 27px; background:linear-gradient(tobottom,#efeded0,#fff7f750%,#efeded100%);font-family:oswald,Arial,sans-serif;}
    .MEFmanset span{width:100%;height:38px;background: rgba(0, 0, 0, 0.5);
        display:block;text-shadow:1px 1px 0 #000;font-size:20px;color: #ebebeb;
        font-family:oswald,Arial,sans-serif;font-weight:700;overflow:hidden;top:0px !important;
        text-align:center;position:relative !important;z-index:4;margin:0;padding:5px 0 0;}
    .MEFmanset span:hover{color: #353535;background: rgba(255, 255, 255, 0.5)}

    #wrapper5 {
        width: 120%;
        height: auto;
        overflow: hidden;
        position: relative;
        margin-left:  30px;


    }

    #wrapper5 .carousel5 {
        display: inline-block;
        position: relative;
        float: left;
        width: 100%;
        height: 250px;
        margin: 0 16px 16px 0;
    }
    .MEFmanset .manset_butonlar li{
        width: 10% !important;
        line-height: 26px !important;
        height: 27px !important ;

    }
    #next {
        background-position: -19px 0;
        margin-left: 300px !important;
        top: -75px !important;
    }
    #prev {
        background-position: 0 0;
        left: 6px !important;
        top: -66px !important ;
    }

    #wrapper4 {
       display: none;

    }
    #galeri-index{
        display: none;
    }
    #thumbs-wrapper6{
        padding: 11px 5px;
    }
    #next6 {
        background-position: -19px 0;
        margin-left: 280px !important;
        top: -50px !important;
    }
}
