/*****
Rahman ve Rahim olan Hz. Allah'ın ismi şerifi ile...
Musannıf: A.Samed OCAK
Mevzu: Alî site-i stil-ü Makber
Gaye: Tasavvurat ve tasdikat
Tarif: stül-ü sahih-i Stül-ü fasıktan ayırmak
*******/


@media (max-width: 1270px) {
    #soldasabit{
        display: none;
    }
#sagdasabit{
    display: none;
}
    .belediyeler{
        width: 100%;
    }

}


@media (max-width: 760px) {
    .belediyeler{
        width: 100%;
    }
    .son-yazilar{
        width: 100%;
    }
    .ilce-haber{
        width: 100%;
    }
    .ilce-haber-aciklama{
        width: 100%;
    }

}

@media (max-width: 400px) {
    .belediyeler{
        width: 100%;
    }
    .son-yazilar{
        width: 100%;
    }

    .ilce-haber{
        width: 100%;
    }
    .ilce-haber-aciklama{
        width: 100%;
    }
    .sayfalar{
        display: none;
    }
    .tarih-saat{
        display: none;
    }
    .soc{
        overflow:hidden;
        margin: 2px;
        width: 100%;
        margin-left: -55px;
        margin-top: 14px;
        /* position: absolute; */
        float: left;
        list-style:none;
    }
    .son-yazilar p{
        font-size: 15px;
        margin-left: 3px;
    }
    .yazarlar-kay{
        margin-left: -27px;
        width: 113%;
    }
    .belediye-aciklama{
        display: none;
    }
    .belediye-liste{
        display: none;
    }
    .belediye-liste-arama{
        display: inline-block;
        position: relative;
    }
    .navbar-inverse{
        display: block !important;
    }
    .ust{
        margin-top: -20px;
    }
    .sosyal-medya{
        margin-top: -50px;
    }
    .ust{
        display: none;
    }
    .logo{
        margin-top: -50px;
    }
}
